<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Formatos</a></h1>
        </li>
    </ul>
    
    <section class="top-bar-section">
        <ul class="left">
            <li class="has-dropdown not-click">
                <a href="#">DAC-RG-10</a>
                <ul class="dropdown">
                    <li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#"></a></li>
                    <li><label>Asesorias</label></li>
                    <li><%= link_to 'Ver', controller: '/posts', action: 'index'%></li>
                    <li><%= link_to 'Nuevo', controller: '/posts', action: 'new'%></li>
                </ul>
            </li>
        </ul>
        <ul class="right">
            <% if user_signed_in? %>
                <li><a>Sesion como: <%= current_user.email %></a></li>
                <li><%= link_to 'Editar perfil', edit_user_registration_path %></li>
                <li><%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %></li>
            <% elsif admin_signed_in? %>
                <li><a>Sesion como: <%= current_admin.email %></a></li>
                <li><%= link_to 'Editar perfil', edit_user_registration_path %></li>
                <li><%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to 'Iniciar sesion', new_user_session_path %></li>
                <li><%= link_to 'Registrarse', new_user_registration_path %></li>
            <% end %>
            <li class="divider"> </li>
        </ul>
    </section>
</nav>